.skills-bar {

    color: white;
    border-radius: 25px;
    padding: 20px 0px;
    & > * {
        padding: 10px 30px;
        text-align: center;
    }

    h2 {
        font-size: 24px;
        margin: 10px 0px;
    }

    &__list {
        .ant-tag {
            color: black;
            background-color: #fec544;
            border: 1px solid #fec544;
            margin: 5px;
            font-size: 16px;
            font-weight: 470;
            padding: 3px 5px;
        }
    }
}