@import "../ui/info-bar";
@import "../../app/page";
@import "../skills/skills";
@import "../projects/projects";
@import "../socials/social-links";
@import "../heading/heading";
@import "../contact/contact-form";
@import "../stats/stats-section";
@import "../floating-icons/floating-icons";
@import "../expertise/expertise-section";
@import "../loading/loading-screen";